<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}ZuRcZ  |  Dance{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    {% bootstrap_stylesheet_tag %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
<div class="tabbable tabs-left">
    <div class="tab-pane active" id="lA">
      <p><ul class="nav nav-tabs">

    {% for cat in categories %}
    <li class="active"><a href="{{ cat.get_absolute_url }}" data-toggle="tab">{{ cat }}</a></li>
    {% endfor %}
  </ul></p>
    </div>
  </div>
</div>


<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="">ZuRcZ</a> 2013
                |
                <a href="">license</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->
{% block extra_body %}
{% endblock %}
</body>
</html>





<div class="container">